:host {
  display: flex;
  width: 100%;
}

a {
  display: table-cell;
  line-height: 60px;
  width: 200px;
  height: 60px;
  text-align: center;
  text-decoration: inherit;
  color: inherit; 
  border: 1px solid black;
  &.active-tab {
    color: red;
  }
}

a:visited {
  text-decoration: inherit;
  color: auto;
}
