:host {
  display: block;
  width: 100%;;
  margin-top: 30px;
}

.control-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & input {
    width: 50%;
    height: 40px;
    font-size: 20px;
  }
}

.control-title {
  width: 100%;
  font-weight: bold;;
}

.no-city {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn-wrapper {
  width: 100%;
}

.submit-btn {
  height: 30px;
  margin-top: 20px;
  width: 187px;
}

.weather-data-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.weather-header-item {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,.5);
}

.weather-item {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,.5);
}

.item-padding {
  padding: 20px;
}

.item-title {
  font-weight: bold;
}
