<ng-template #cityNotSetted>
  <div class="no-city">
    <h2>City not added</h2>
  </div>
</ng-template>
<div class="control-wrapper">
  <div class="control-title">Enter the city name</div>
  <input type="text" 
         plactholder="Input city name" 
         [formControl]="control"
         (keyup.enter)="control.valid && addNewCity()">
  <button class="refresh-button"
          type="button"
          (click)="dispatchGetItemsAction()">Refresh weather data</button>
  <div class="submit-btn-wrapper">
    <button class="submit-btn"
            type="submit"
            [disabled]="control.invalid"
            (click)="addNewCity()">Show city weather</button>
  </div>
</div>

<div *ngIf="cityWeatherItem$ | async as item; else cityNotSetted"
     class="weather-data-wrapper">
  <div class="weather-header-item item-padding">
    <div class="item-title">Country</div>
    <div>{{item?.name}}</div>
  </div>
  <div class="weather-item item-padding">
    <div class="item-title">Visibility</div>
    <div class="item-value">{{item?.visibility}}</div>
  </div>
  <div class="weather-item item-padding">
    <div class="item-title">Temperature</div>
    <div class="item-value">{{item?.main?.temp}}</div>
  </div>
  <div class="weather-item item-padding">
    <div class="item-title">Pressure</div>
    <div class="item-value">{{item?.main?.pressure}}</div>
  </div>
  <div class="weather-item item-padding">
    <div class="item-title">Humidity</div>
    <div class="item-value">{{item?.main?.humidity}}</div>
  </div>
  <div class="weather-item item-padding">
    <div class="item-title">Minimal temperature</div>
    <div class="item-value">{{item?.main?.temp_min}}</div>
  </div>
  <div class="weather-item item-padding">
    <div class="item-title">Maximum temperature</div>
    <div class="item-value">{{item?.main?.temp_max}}</div>
  </div>    
</div>