<div class="search-wrapper">
  <div class="search-title">Search in selected city list</div>
  <input class="search-control"
         type="text" 
         ngModel
         (ngModelChange)="onSearchDataChange($event)">
</div>

<h2>Selected cities</h2>
<div class="selected-cities-wrapper">  
  <div *ngFor="let city of selectedCitieslist$ | async" 
       class="cities-item"
       (click)="navigateToProfile(city)">
    <span>{{city}}</span>
  </div>
</div>