:host {
  display: block;
  width: 100%;;
  margin-top: 30px;
}

.search-control {
  width: 50%;
  height: 30px;
  font-size: 20px;
}

.search-title {
  font-weight: bold;
}

.selected-cities-wrapper {
  border: 1px solid rgba(0,0,0,.5);
}

.cities-item {
  border-bottom: 1px solid rgba(0,0,0,.5);
  padding: 20px;
  font-weight: bold;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: rgba(234, 169, 72, 1);
  }
}